@CHARSET "UTF-8";

ul li{list-style:none; text-align:center; display:block;width:50%;margin:0 auto;}

ul li p{word-break:hyphenate;word-wrap:break-word;}

.divider{border-bottom-color:#000;border-bottom-width:2px;border-bottom-style:solid;height:2px;width:100%;}


/* new post */

.new{display:block;width:50%;margin:0 auto;text-align:center;}

#title-input{width:15.5em;}

#content-input{width:25em;height:15em;}
